# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.expo
*.tsbuildinfo

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift

# misc
.DS_Store
tmp
.idea
bun.lock
tests
.agents
apps/raycast/node_modules
apps/mobile/dist-export/metadata.json
apps/mobile/dist-export/_expo/static/js/ios/entry-d30ec2f0a120839321a3dbf9e90d8412.hbc
apps/mobile/dist-export/_expo/static/js/ios/entry-d30ec2f0a120839321a3dbf9e90d8412.hbc.map
apps/mobile/dist-export/assets/0a328cd9c1afd0afe8e3b1ec5165b1b4
apps/mobile/dist-export/assets/0ea69b5077e7c4696db85dbcba75b0e1
apps/mobile/dist-export/assets/2d0a9133e39524f138be6d4db9f4851f
apps/mobile/dist-export/assets/3cd68ccdb8938e3711da2e8831b85493
apps/mobile/dist-export/assets/7d40544b395c5949f4646f5e150fe020
apps/mobile/dist-export/assets/017bc6ba3fc25503e5eb5e53826d48a8
apps/mobile/dist-export/assets/19eeb73b9593a38f8e9f418337fc7d10
apps/mobile/dist-export/assets/20e71bdf79e3a97bf55fd9e164041578
apps/mobile/dist-export/assets/61ca7e64b7d605716c57706cef640b9a
apps/mobile/dist-export/assets/412dd9275b6b48ad28f5e3d81bb1f626
apps/mobile/dist-export/assets/a132ecc4ba5c1517ff83c0fb321bc7fc
apps/mobile/dist-export/assets/ab19f4cbc543357183a20571f68380a3
apps/mobile/dist-export/assets/aff2c65b39a296d4f7e96d0f58169170
apps/mobile/dist-export/assets/d1ea1496f9057eb392d5bbf3732a61b7
apps/mobile/dist-export/assets/d8b800c443b8972542883e0b9de2bdc6
apps/mobile/dist-export/assets/d8e7601e3df962f83c62371ac14964d8
apps/mobile/dist-export/assets/d62ddc38b69aff346c20a28774933d6a
apps/mobile/dist-export/assets/dad2fa9f4394a630f0f9a0d6dabd44bc
apps/mobile/dist-export/assets/f3a81967828232c893d547162e922764
.gitignore
